.flarecheck-test pre,
.flarecheck-test code,
.flarecheck-test input,
.flarecheck-test label,
.flarecheck-test legend {
    font-family: 'Source Code Pro', courier;
}

fieldset.flarecheck-test {
    margin-top: 15px;
    margin-bottom: 40px;
    max-width: 800px;
    border: 1px solid #666;
    border-radius: 3px;
}

fieldset.flarecheck-test > legend {
    background-color: #f0f0f0;
    border: 1px solid #666;
    border-radius: 3px;
}

.flarecheck-test pre {
    background-color: #f0f0f0;
    padding: 10px;
    max-width: 780px;

    /* http://stackoverflow.com/a/248013/704831 */
    white-space: pre-wrap;       /* CSS 3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

.flarecheck-test .flare-input {
    margin-bottom: 5px;
}

.flarecheck-test input {
    font-size: 16px;
    padding: 3px;
    border-radius: 3px;
    border: 1px solid #888;
}

.flarecheck-test input:invalid {
    background-color: #DEAFB4;
}

.flarecheck-test .flare-input-number,
.flarecheck-test .flare-input-int-number {
    width: 80px;
}

.flarecheck-test fieldset {
    border-radius: 3px;
    margin-top: 5px;
    margin-bottom: 20px;
}

.flarecheck-test label,
.flarecheck-test legend {
    font-size: 16px;
}

.flarecheck-test label {
    width: 150px;
    display: inline-block;
}

.flarecheck-test legend {
    padding: 2px 6px;
    font-weight: 700;
}

.flarecheck-test .flarecheck-okay {
    background-color: #B4DEAF;
}

.flarecheck-test .flarecheck-warn {
    background-color: #DEAFB4;
}

.flarecheck-test .flarecheck-string {
    color: #E91E63;
}

.flarecheck-test .flarecheck-number {
    color: #1339E8;
}

.flarecheck-test .flarecheck-boolean {
    font-weight: bold;
}

.flarecheck-test td {
    border: 1px solid black;
}

.flarecheck-test td > pre {
    margin: 0;
    padding: 5px;
}

.flarecheck-test table {
    margin-left: 2px;
    margin-bottom: 10px;
}
