body {
    margin: 0;
    font-family: 'Noto Sans', sans-serif;
    font-size: 18px;
    width: 100%;
}

h1, h2, h3 {
    font-weight: 600;
}

pre {
    background-color: #f0f0f0;
    padding: 1em;
    max-width: 800px;
    border-radius: 5px;
}

a {
    color: #1237E0;
}

#content {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 40px;
}

#logo {
    margin-top: 40px;
}

/* Syntax highlighting */
.LineNr {
    display: none;
}

.String {
    color: #E91E63;
}

.Float, .Number {
    color: #1339E8;
}

.Operator, .Statement {
    font-weight: 700;
}

.Delimiter {
}

.Structure, .Keyword {
    font-weight: 700;
}

.PreProc, .Type {
    color: #1237E0;
}

.Function {
    color: #223498;
}

.Identifier {
    color: #e21077;
}
