body {
    margin: 40px;
}

pre, code, input, label, legend {
    font-family: 'Source Code Pro', courier;
}

pre {
    background-color: #f0f0f0;
    padding: 10px;
}

.flare-input {
    margin-bottom: 5px;
}

input {
    font-size: 16px;
    padding: 3px;
}

input:invalid {
    background-color: #ff5050;
}

.flare-input-number, .flare-input-int-number {
    width: 80px;
}

fieldset {
    margin-top: 5px;
    margin-bottom: 20px;
}

label, legend {
    font-size: 16px;
}

label {
    width: 150px;
    display: inline-block;
}

legend {
    padding-left: 5px;
    padding-right: 5px;
    font-weight: 700;
}

.flarecheck-test {
    margin-top: 15px;
}

/* Syntax highlighting */
.LineNr {
    display: none;
}

.String {
    color: #E91E63;
}

.Float, .Number {
    color: #1339E8;
}

.Operator, .Statement {
    font-weight: 700;
}

.Delimiter {
}

.Structure {
    font-weight: 700;
}

.PreProc {
    color: #1237E0;
}
